.language-container {
    position: absolute;
    right: 20px;
    top: 30%;  
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 10; 
}

.language-text {
    font-size: 14px;
    color: #000; 
    user-select: none;
}

.language-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.language-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a28a6c; 
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #6e5a46;
}

input:checked + .slider:before {
    transform: translateX(20px);
}
