.filtros {
  text-align: center;
  /* deja espacio para el header fijo */
  margin-top: 180px; /* ajusta según el alto real de tu .top-bar (prueba 140-220px) */
  padding: 40px 0 20px;
}

.filtros h2 {
  color: #3a342b;
  font-size: 36px;
  margin-bottom: 18px;
  font-weight: 600;
}

/* fila de filtros */
.form-filtros {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
}

/* selects y botón */
.form-filtros select,
.form-filtros button {
  padding: 12px 18px;
  border-radius: 14px;
  font-size: 16px;
  border: 1px solid #ddd;
  font-family: "Manrope", sans-serif;
  background-color: #fff;
}

.form-filtros button {
    background-color: #74533e;
}

/* estilo «flecha» consistente en selects */
.form-filtros select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 4l4 4 4-4' stroke='%236d675e' stroke-width='1.5' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
  padding-right: 40px;
  cursor: pointer;
}

.botones {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #85470da1;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.50s cubic-bezier(0.4, 0, 0.2, 1);
}

.botones:hover {
  background: #d2c3b5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/* Grid de productos */
.grid-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px 50px;
}

/* Card de producto */
.card-producto {
  background: white;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 4px 10px #00000015;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px; /* casi cuadrado */
  justify-content: space-between;
}

/* Imagen del producto */
.card-producto img {
  width: 90%;
  max-height: 150px; 
  object-fit: contain; 
  border-radius: 15px;
}

/* Nombre del producto */
.card-producto h3 {
  font-size: 25px;
  margin: 5px 0;
  text-align: center;
}

/* Descripción */
.card-producto p {
  font-size: 18px;
  line-height: 1.3em;
  margin: 5px 0;
  text-align: center;
  overflow: hidden;
  height: 40px; /* altura fija para mantener uniforme */
}

/* Precio */
.card-producto .precio {
  font-size: 20px;
  font-weight: bold;
  color: #6d675e;
  margin:17px 0;
}
