.filtros {
  text-align: center;
  margin-top: 180px; 
  padding: 40px 0 20px;
}

.filtros h2 {
  color: #3a342b;
  font-size: 36px;
  margin-bottom: 18px;
  font-weight: 600;
}

.form-filtros {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
}

.form-filtros select,
.form-filtros button {
  padding: 12px 18px;
  border-radius: 14px;
  font-size: 16px;
  border: 1px solid #ddd;
  font-family: "Manrope", sans-serif;
  background-color: #fff;
}

.form-filtros button {
    background-color: #85470da1; 
}

.botones {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #d86a03a1;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.50s cubic-bezier(0.4, 0, 0.2, 1);
}

.botones:hover {
  background: #d2c3b5; /*hover boton colorr*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px 50px;
}

.card-producto {
  background: white;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 4px 10px #00000015;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  justify-content: space-between;
}

.card-producto img {
  width: 90%;
  max-height: 150px; 
  object-fit: contain; 
  border-radius: 15px;
}

.card-producto h3 {
  font-size: 25px;
  margin: 5px 0;
  text-align: center;
}

.card-producto p {
  font-size: 18px;
  line-height: 1.3em;
  margin: 5px 0;
  text-align: center;
  overflow: hidden;
  height: 40px; 
}

.card-producto .precio {
  font-size: 20px;
  font-weight: bold;
  color: #6d675e;
  margin:17px 0;
}
