.buscador-servicios {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 10px;            
    margin: 30px 0;
}

.buscador-servicios input[type="text"] {
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 300px;       
    transition: all 0.3s;
}

.buscador-servicios input[type="text"]:focus {
    outline: none;
    border-color: #b80099;
    box-shadow: 0 0 5px rgba(189, 199, 43, 0.5);
}

.buscador-servicios .botones {
    margin-top: 17px;
    padding: 10px 20px;
    background-color: #74533e;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.buscador-servicios .botones:hover {
    background-color: #d2c3b5;
    transform: translateY(-2px);
}


.grid-servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 20px;
}

.card-servicio {
    background: white;
    border-radius: 15px;
    width: 300px; 
    text-align: center;
    box-shadow: 0px 4px 10px #00000015;
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.card-servicio:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px #00000020;
}

.card-servicio .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card-servicio h3 {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #333;
}

.card-servicio .card-text {
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    margin: 0;
}
